
* {
    margin: 0;
    padding: 0;
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

header {
    padding-top: 50px;
    height: 50px;
    display: block;
}

.container {
    width: 1064px;
    margin: 0 auto;
    
}

.logo {
    float: left;
    display: flex;
    
}

.milan:hover {
    color: #f26522;
}

.milan {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 29px;
    line-height: 31px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.holidays {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.holidays:hover {
    
}

.contacts {
    font-family: Verdana;
    text-align: right;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding-top: 2px;
    float: right;
}

h2 {
    text-decoration: none;
    text-align: center;
    font-family: Verdana;
    color:  #ffffff;
    font-size: 20px;
    font-weight: 400;
}

.img {
    float: left;
    display: contents;
    border-image: linear-gradient(to bottom, white, black) 80;
	border-width: 1px;
	border-style: solid;
}

.logo_text {
    display: block;
    
}

.img_logo {
    width: 60px;
    height: 50px;  
    
}

.logo:hover .holidays {
    color: #f26522;
}
.logo:hover .milan {
    color: #f26522;
}
.logo:hover .img_logo {
    filter: sepia(100%) hue-rotate(319deg) saturate(900%) contrast(95%);
}

.img1 h21:hover  {
    color: #f26522;
}

.contacts_a {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    text-align: right;
}

.p_1r {
    width: 307px;
    float: left;
    margin-right: 69px;
}

.p_1l {
    width: 307px;
    
}

.clearfix {
    clear: both;
}

footer {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 51px;
}


.flex_1 {
    margin-top: 59px;
    display: flex;
    
}

.p1l {
    float: right;
    margin-left: 69px;
    
}



.img {
    text-decoration: none;
}

.flex_2 {
    margin-top: 59px;
    display: flex;
}

.imgm {
    display: block;
}

.img:hover h2{
	color: #f26522;
	
}

.info:hover {
	height: 50 px;
	margin-bottom: 0;
}


.info {
	height: 50px;
	width: 100%;
	margin-bottom: 0;
	background-color: #f26522;
}


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}